<div class="menuholder">
  <ul class="menu slide">
    <li><a href="http://www.script-tutorials.com/" class="red">Home</a></li>
    <li><a href="http://www.script-tutorials.com/" class="orange">Login/Sign Up</a>
      <div class="subs">
        <% if user_signed_in? %>
          <dl>
            <dt>Sign In</dt>
            Logged in as <strong><%= current_user.email %></strong>.
            <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
          </dl>
        <% else %>
          <dl>
            <dt>Sign In</dt>
            <%= form_for(@user, :url => session_path(@user)) do |f| %>
              <%= f.label :email %>
              <%= f.email_field :email, :autofocus => true %>

              <%= f.label :password %>
              <%= f.password_field :password %>

              <%= f.submit "Sign in" %>
            <% end %>

          </dl>
          <dl>
            <dt>Sign Up</dt>
            <%= form_for(@user, :url => registration_path(@user)) do |f| %>

              <div><%= f.label :email %>
              <%= f.email_field :email, :autofocus => true %></div>

              <div><%= f.label :password %>
              <%= f.password_field :password %></div>

              <div><%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation %></div>

              <div><%= f.submit "Sign up" %></div>
            <% end %>
          </dl>
        <% end %>
        <dl>
          <dt>Links #3</dt>
          <dd><a href="http://www.script-tutorials.com/category/html-css/">HTML / CSS</a></dd>
          <dd><a href="http://www.script-tutorials.com/category/jquery/">JS / jQuery</a></dd>
          <dd><a href="http://www.script-tutorials.com/category/php/">PHP</a></dd>
        </dl>
        <dl>
          <dt>Links #4</dt>
          <dd><a href="http://www.script-tutorials.com/category/mysql/">MySQL</a></dd>
          <dd><a href="http://www.script-tutorials.com/category/xslt/">XSLT</a></dd>
          <dd><a href="http://www.script-tutorials.com/category/ajax/">Ajax</a></dd>
        </dl>
      </div>
    </li>
    <li><a href="http://www.script-tutorials.com/category/resources/" class="yellow">Saved Searches</a>
        <div class="subs">
      <dl>
        <dt>Links #5</dt>
        <% @user.searches.each do |search| %>
          <dd><a href=# id="build-draggables">First Search</a></dd>
        <% end %>
      </dl>
      <dl>
        <dt>Links #6</dt>
        <dd><a href="http://www.script-tutorials.com/category/xslt/">XSLT</a></dd>
        <dd><a href="http://www.script-tutorials.com/category/ajax/">Ajax</a></dd>
      </dl>
      <dl>
        <dt>Links #7</dt>
        <dd><a href="http://www.script-tutorials.com/category/html-css/">HTML / CSS</a></dd>
        <dd><a href="http://www.script-tutorials.com/category/jquery/">JS / jQuery</a></dd>
      </dl>
      <dl>
        <dt>Links #8</dt>
        <dd><a href="http://www.script-tutorials.com/category/mysql/">MySQL</a></dd>
        <dd><a href="http://www.script-tutorials.com/category/ajax/">Ajax</a></dd>
      </dl>
    </div>
  </li>
  <li><a href="http://www.script-tutorials.com/category/resources/" class="green">Other</a></li>
  <li><a href="http://www.script-tutorials.com/about/" class="blue">About</a></li>
  <li><a href="http://www.script-tutorials.com/creating-css3-dropdown-menu-3/" class="violet">Back</a></li>
  </ul>
  <div class="back"></div>
  <div class="shadow"></div>
</div>

<div class="droppable" id="whole-page">



  <!-- <div id="top-bar">

    <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>.
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
    <% else %>
      <h4>Sign in</h4>

      <%= form_for(@user, :url => session_path(@user)) do |f| %>
        <div><%= f.label :email %>
        <%= f.email_field :email, :autofocus => true %></div>

        <div><%= f.label :password %>
        <%= f.password_field :password %></div>

        <div><%= f.submit "Sign in" %></div>
      <% end %>

      <h4>Sign up</h4>

      <%= form_for(@user, :url => registration_path(@user)) do |f| %>

        <div><%= f.label :email %>
        <%= f.email_field :email, :autofocus => true %></div>

        <div><%= f.label :password %>
        <%= f.password_field :password %></div>

        <div><%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %></div>

        <div><%= f.submit "Sign up" %></div>
      <% end %>

    <% end %>
  </div> -->

  <div id="header">

    <!-- <h1 id="logo">Scrolling Clouds</h1> -->

    <ul id="menu">
      <li><a id="home-link" href="#box1" class="link home selected">SEARCH</a></li>
      <li><a href="#box2" class="link results google">GOOGLE</a></li>
      <li><a href="#box3" class="link results twitter">TWITTER</a></li>
      <li><a href="#box4" class="link results bing">BING</a></li>
      <div id="nav-bar"><div id="slide"></div></div>
    </ul>
  </div>

  <div class="ui-draggable google down" id="google"><input class="expandable" name="search[google]" Value="google" size="10" type="hidden" READONLY></div>

  <div class="ui-draggable twitter down" id="twitter"><input class="expandable" name="search[twitter]" Value="twitter" size="10" type="hidden" READONLY></div>


  <div class="ui-draggable required_terms down"><input class="expandable" id="required_terms" name="search[required_terms]" placeholder="Terms" size="10" type="text"></div>

  <div class="ui-draggable domain down cloner"><input class="expandable" name="search[domain]" placeholder="Domain" size="10" type="text"></div>

  <div class="ui-draggable image down"><input class="expandable" name="search[image]" Value="image" size="10" type="text" READONLY></div>

  <div class="ui-draggable file_type down"><select class="expandable" id="search_file_type" name="search[file_type]">
    <option value="" disabled selected>File Type</option>
    <option value="pdf">pdf</option>
    <option value="doc">doc</option>
    <option value="xls">xls</option>
    <option value="txt">txt</option>
    <option value="rtf">rtf</option>
  </select></div>

  <div class="ui-draggable result_type down"><select class="expandable" id="search_result_type" name="search[result_type]">
    <option value="" disabled selected>Result Tpye</option>
    <option value="popular">Popular</option>
    <option value="recent">Recent</option>
    <option value="mixed">Mixed</option>
  </select></div>

  <div class='ui-draggable must_have down'><input class="expandable" name='search[must_have]' placeholder='Must Have'  size='10' type='text'></div>

  <div class='ui-draggable excluded_terms down'><input class="expandable" name='search[excluded_terms]' placeholder="Shouldnt Have"  size='10' type='text'></div>

  <div class='ui-draggable exact_terms down'><input class="expandable" name='search[exact_terms]' placeholder="Exact"  size='10' type='text'></div>

  <div id="wrapper">

    <ul id="mask">
      <li id="box1" class="box">
        <div id="google-drags">
        </div>
        <div id="twitter-drags">
        </div>
        <div id="trash">
        </div>
        <a name="box1"></a>
        <div class="content" id="search-box">
          <div class="inner droppable" id="box">
            <p>
              Home Box
            </p>
          </div>
        </div>
      </li>
      <li id="box2" class="box">
        <a name="box2"></a>
        <div class="content">
          <div id="inner-box-2" class="inner">
          Box 2
          </div>
        </div>
      </li>
      <li id="box3" class="box">
        <a name="box3"></a>
        <div class="content"><div id="inner-box-3" class="inner">Box 3</div></div>
      </li>
      <li id="box4" class="box">
        <a name="box4"></a>
        <div class="content"><div class="inner">Box 4</div></div>
      </li>
    </ul>
  </div>

<!--   <div id="cloud1" class="clouds">
    <div id="clouds-small"></div>
  </div>
  <div id="cloud2" class="clouds">
    <div id="clouds-big"></div>
  </div> -->

  <a id="save-search">Save Search</a>

  <%= form_for @search, remote: true do |f| %>


    <%= f.submit id: "submit-button", value: "Search" %>

  <% end %>

</div>
